<template>
  <div class="about"></div>
</template>

<script>
import * as d3 from 'd3'

export default {
  data () {
    return {
      test_data: [
        { index: 0, percentage: 50 },
        { index: 1, percentage: 90 },
        { index: 2, percentage: 10 }
      ],
      // the first color is outer color, the second is middle color, the third one is inner color.
      colors: ['#FFAD00', '#353668', '#54E0B6'],
      width: 500,
      height: 500,
      gap: 2
    }
  },

  mounted () {
    this.build_background()
    this.update()
    this.build_popover()
  },

  methods: {
    /* To interpolate between the two angles, we use the default d3.interpolateNumber.
    The returned function takes a
    single argument t and returns a number between the starting angle and the
    ending angle. When t = 0, it returns 0; when t = 1, it returns
    d.percentage; and for 0 < t < 1 it returns an angle in-between. */
    arcTween (d) {
      const i = d3.interpolateNumber(0, d.percentage)
      return function (t) {
        d.percentage = i(t)
        // Lastly, compute the arc path given the updated data!
        // eslint-disable-next-line no-undef
        return arc(d)
      }
    },
    /* This function is mainly build the front ground of circle. */
    update () {
      // field is set as global variable, because it will be used later in the arcTween method.
      window.arc = d3
        .arc()
        .startAngle(0)
        .endAngle(d => {
          return (d.percentage / 100) * 2 * Math.PI
        })
        .innerRadius(d => {
          return 140 - d.index * (40 + this.gap)
        })
        .outerRadius(d => {
          return 180 - d.index * (40 + this.gap)
        })
        .cornerRadius(0)

      // eslint-disable-next-line no-undef
      field.append('path').attr('class', 'progress')

      // eslint-disable-next-line no-undef
      field
        .select('path.progress')
        .transition()
        .duration(1500)
        .attrTween('d', this.arcTween)
        .style('fill', d => {
          return this.colors[d.index]
        })

      // some stuff to add text on the image.
      // eslint-disable-next-line no-undef
      const text = field
        .append('text')
        .attr('x', 5)
        .attr('dy', 25)

      text
        .append('textPath')
        .attr('stroke', 'black')
        .attr('fill', 'black')
        .attr('letter-spacing', '3px')
        .attr('xlink:href', (d, i) => {
          return '#background' + i
        })
        .text(d => {
          return d.percentage + '%'
        })
    },

    /* This is function is building a pop window when mouseover  */
    build_popover () {
      // define the div for the tooltip.
      const div = d3
        .select('.about')
        .append('div')
        .attr('class', 'tooltip')
        .style('opacity', 0)

      // eslint-disable-next-line no-undef
      field
        .select('path.progress')
        .on('mousemove', function (d) {
          div
            .transition()
            .duration(200)
            .style('opacity', 0.9)
          div
            .html(d.percentage)
            .style('left', d3.event.pageX + 'px')
            .style('top', d3.event.pageY + 'px')
        })
        .on('mouseout', function (d) {
          div
            .transition()
            .duration(500)
            .style('opacity', 0)
        })
    },

    /* This function is mainly build the background of circle.
     */

    build_background () {
      const background = d3
        .arc()
        .startAngle(0)
        .endAngle(2 * Math.PI)
        .innerRadius(d => {
          return 140 - d.index * (40 + this.gap)
        })
        .outerRadius(d => {
          return 180 - d.index * (40 + this.gap)
        })

      const svg = d3
        .select('.about')
        .append('svg')
        .attr('width', this.width)
        .attr('height', this.height)
        .append('g')
        .attr(
          'transform',
          'translate(' + this.width / 2 + ',' + this.height / 2 + ')'
        )

      // field is set as global variable, because it will be used later in the upgrade method.
      window.field = svg
        .selectAll('g')
        .data(this.test_data)
        .enter()
        .append('g')

      // eslint-disable-next-line no-undef
      field
        .append('path')
        .attr('class', (d, i) => {
          return 'bg' + i
        })
        .attr('id', (d, i) => {
          return 'background' + i
        })
        .style('opacity', 0.2)
        .attr('d', background)
        .style('fill', d => {
          return this.colors[d.index]
        })
    }
  }
}
</script>

<style>
.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  background: rgb(163, 184, 211);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
</style>
