<template>
  <div id="filter" ref="filter">
    <p>Supply Chain Risks:</p>
    <div class="block">
      <b-radio v-model="choice" native-value="social_risk">Social Risk</b-radio>
      <br />
      <b-radio v-model="choice" native-value="political_risk">Political Risk</b-radio>
      <br />
      <b-radio v-model="choice" native-value="environmental_risk">Environmental Risk</b-radio>
      <br />
      <b-radio v-model="choice" native-value="NoRisk">No Risk Filter</b-radio>
      <br />
      <b-checkbox v-model="imageChoice">
        {{ imageText }}
      </b-checkbox>
      <br />
    </div>
  </div>
</template>

<script>
export default {
  name: 'filter-component',
  data () {
    return {
      choice: 'NoRisk',
      imageChoice: true
    }
  },
  created () {},

  mounted () {
    this.$emit('isMounted', { filterChoice: this.choice, imageChoice: this.imageChoice })
  },
  computed: {
    imageText () {
      if (this.imageChoice === true) {
        return 'Showing satellite images'
      } else {
        return 'Not showing satellite images'
      }
    }
  },

  methods: {},
  watch: {
    // send choice to newMap component.
    // According to user choice, the newMap have different response(change map colors).
    choice () {
      this.$emit('isMounted', { filterChoice: this.choice, imageChoice: this.imageChoice })
    },

    imageChoice () {
      this.$emit('isMounted', { filterChoice: this.choice, imageChoice: this.imageChoice })
    }
  }
}
</script>

<style>
.b-radio.radio {
  margin-top: 0px;
}
.block{
  padding-top: 1em;
}
</style>
