<template>
  <div class="home">
    <HelloWorld msg="Welcome to LOG IN" />
    <Yili></Yili>

  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '../components/HelloWorld.vue';
import Yili from '../components/Yili.vue';

export default {
  name: 'home',
  components: {
    HelloWorld,
    Yili
  }
}
</script>
