<template>
  <div id="InfoContent" ref="content">
    <div class="NoFilter" v-if="selectedElement === ''">{{firstLineText}}</div>
    <div class="data-country" v-else-if="selectedElement === 'country'">
      <div class="firstLine">{{firstLineText}}</div>
      <div class="riskColor" v-bind:style="{background: riskColor}"></div>
      <b-field class="filter-field">
        <b-input placeholder="Search..." v-model="treeFilter" type="search" icon="magnify"></b-input>
      </b-field>
      <b-button @click="expandAll">Expand</b-button>
      <b-button @click="collapseAll">Collapse</b-button>
      <tree
        :data="newTreeData"
        :filter="treeFilter"
        :options="options"
        ref="tree"
        class="tree-highlights"
      >
        <div class="tree-scope" slot-scope="{ node }">
          <span class="text">{{ node.text }}</span>
          <span class="score" v-if="node.data.score">{{ node.data.score}}</span>
        </div>
      </tree>
    </div>

    <div class="data-country" v-else-if="selectedElement === 'facility'">
      No information
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import LiquorTree from 'liquor-tree'
/* this library is used to build tree view.
It needs a kind of format data to implement tree view
see: https://amsik.github.io/liquor-tree/#Basic-Usage
[
            { text: 'Item 1' },
            { text: 'Item 2', state: { expanded: true }, children: [
            { text: 'Item 2.1' },
              { text: 'Item 2.2' },
              { text: 'Item 2.3' }
            ]},
            { text: 'Item 3', state: { selected: true } },
            { text: 'Item 4' }
          ])
*/
Vue.use(LiquorTree)

export default {
  components: {},
  data () {
    return {
      treeFilter: '',
      options: {
        checkbox: false,
        paddingLeft: 8
      },

      noFilterText: 'Please choose one country or facility',
      item: ''
    }
  },
  props: [
    'countryInfo',
    'selectedElement',
    'filterChoice',
    'countryName',
    'riskColor',
  ],
  created () {},
  mounted () {},
  computed: {
    // generate first line for the text..
    // for example Social risk information for Algeria. It can be changed later.
    firstLineText () {
      if (this.selectedElement === '') {
        return this.noFilterText
      } else {
        const finalTextFilter = this.filterChoice.replace(/_/g, ' ')

        return (
          finalTextFilter.charAt(0).toUpperCase() +
          finalTextFilter.slice(1) +
          ' information for ' +
          this.countryName.charAt(0).toUpperCase() +
          this.countryName.slice(1)
        )
      }
    }
  },
  watch: {
    // watching if the options is changed, if changed, it will render a new map.
    countryInfo () {
      const temData = {}
      if (this.countryInfo) {
        temData[this.filterChoice] = this.countryInfo
      }
      this.newTreeData = this.interactionData(temData, [])

      if (this.$refs.tree) {
        // this is really important!!!! it is not going to re-render automatically, we have to use this code to re-render component. it is disadvantage of LiquorTree
        this.$refs.tree.setModel(this.newTreeData)
      }
      this.treeFilter = ''
    },

    selectedElement () {
      console.log(this.selectedElement)
    }
  },

  methods: {
    // expend all nodes
    expandAll () {
      this.$refs.tree.expandAll()
    },
    collapseAll () {
      this.$refs.tree.collapseAll()
    },
    // generate a new data format for LiquorTree
    interactionData (data, newData) {
      if (typeof data === 'object') {
        if (!Object.prototype.hasOwnProperty.call(data, 'details')) {
          let n = 0
          for (const key in data) {
            newData.push({ text: this.str2Text(key) })

            if (data[key] != null) {
              if (Object.prototype.hasOwnProperty.call(data[key], 'details')) {
                newData[n].data = { score: this.toPercent(data[key].score) }
                newData[n].children = []
              } else if (typeof data[key] === 'number') {
                newData[n].data = { score: this.toPercent(data[key]) }
              } else if (Array.isArray(data[key])) {
                // check if it is array
                // newData[n]["children"] = []
                const temArray = []
                data[key].forEach(function (item, index) {
                  temArray.push({ text: item })
                })
                newData[n].children = temArray
              }
              this.interactionData(data[key].details, newData[n].children)
            } else {
              newData[n].data = { score: this.toPercent(data[key]) }
            }
            n = n + 1
          }
        }
      }

      return newData
    },
    toPercent (point) {
      if (point === null) {
        return 'No Information'
      } else {
        let str = Number(point * 100).toFixed(2)
        str += '%'
        return str
      }
    },
    str2Text (str) {
      const finalText = str.replace(/_/g, ' ')
      return finalText.replace(/\w\S*/g, function (txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()
      })
    }
  }
}
</script>

<style>

  .riskColor{
   display: inline-block;
    width: 40px;
    height: 40px;
  }
.filter-field {
  margin-top: 2em;
  margin-bottom: 0em;
}
.tree-node {
  margin-left: 0em;
}

.tree {
  margin-top: 0em;
}

.tree > .tree-root,
.tree > .tree-filter-empty {
  padding: 0px;
}

.tree-anchor {
  margin-left: 0px;
  padding: 0px;
}

.tree-content {
  padding: 0px;
}

.tree-scope {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.score {
  color: #a9a9a9;
}

.matched > .tree-content {
  background: #f7f2e7;
}
</style>
