<template>
  <div>
    <leaflet-map :datas="datas" :geojson="generateNewGeoJson"></leaflet-map>
  </div>
</template>

<script>
import LeafletMap from '../components/LeafletMap.vue'
import axios from 'axios'
// eslint-disable-next-line no-unused-vars
import countriesHigJson from '../assets/GeoJSON/counties_higRes.json'
import countriesMidJson from '../assets/GeoJSON/counties_midRes.json'
// eslint-disable-next-line no-unused-vars
import countriesLowJson from '../assets/GeoJSON/counties_lowRes.json'
import risk from '../assets/riskAllCounties.json'

export default {
  components: {
    LeafletMap
  },
  data () {
    return {
      datas: '',
      countriesJson: countriesMidJson,
      risk: risk
    }
  },
  computed: {
    // choosing and filter the GeoJson what we need from database
    // here there is problems with GeoJson, GeoJson has less countries than countries from database
    generateNewGeoJson () {
      const newGeoJsonArray = []
      for (const eachRisk of this.risk) {
        for (const info of this.countriesJson.features) {
          if (info.properties.iso_a3 === eachRisk.iso) {
            // put the additional information into object
            info.properties.extraInfo = eachRisk
            newGeoJsonArray.push(info)
            break
          }
        }
      }
      return { type: 'FeatureCollection', features: newGeoJsonArray }
    }
  },

  methods: {},

  mounted () {
    axios
      .get('https://api.openbrewerydb.org/breweries')
      .then(r => (this.datas = r.data))
      .catch(error => console.log(error))
  }
}
</script>
