<template>
  <div>
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <div id="map" class="map" v-bind:class="timelineShow"></div>
    <!--Filter content-->
    <filter-component ref="filter" @isMounted="filterMountedFunction"></filter-component>
    <!--Information content-->
    <info-component
      ref="InfoContent"
      :countryInfo="selectedInfo===''? '': selectedInfo[filterChoice]"
      :selectedElement="selectedElement"
      :filterChoice="filterChoice"
      :countryName="selectedInfo===''? '':selectedInfo.NAME_SORT"
      :riskColor="selectedColor"
    ></info-component>
  </div>
</template>

<script>
import Map from 'ol/Map.js'
import View from 'ol/View.js'
import TileLayer from 'ol/layer/Tile.js'
import Image from 'ol/layer/Image.js'
import ImageStatic from 'ol/source/ImageStatic.js'
import OSM, { ATTRIBUTION } from 'ol/source/OSM.js'
import GeoJSON from 'ol/format/GeoJSON.js'
import VectorLayer from 'ol/layer/Vector.js'
import VectorSource from 'ol/source/Vector.js'
import { Fill, Stroke, Style, Icon, Text } from 'ol/style.js'
import Feature from 'ol/Feature.js'
import Point from 'ol/geom/Point.js'
import { fromLonLat, transformExtent } from 'ol/proj.js'
import Select from 'ol/interaction/Select.js'
import { singleClick, never } from 'ol/events/condition.js'
import DoubleClickZoom from 'ol/interaction/DoubleClickZoom.js'

import { defaults as defaultControls, FullScreen } from 'ol/control.js'

import Notification from 'ol-ext/control/Notification.js'
import Overlay from 'ol-ext/control/Overlay.js'
import Toggle from 'ol-ext/control/Toggle.js'
import Shadow from 'ol-ext/style/Shadow.js'
import Legend from 'ol-ext/control/Legend.js'
import Timeline from 'ol-ext/control/Timeline.js'

import filterComponent from './filterComponent.vue'
import infoComponent from './infoComponent.vue'

import axios from 'axios'
// import countryJson from "./counties_lowRes.json";
import countryJson from './GeoJSON/countries-hires.json'

import * as turf from '@turf/turf'

// fontawesome definitions used in fontsymbol
// import './FontAwesomeDef.js'

// Z-index: This need to talk later.
export default {
  components: {
    filterComponent,
    infoComponent
  },
  data () {
    return {
      timelineShow: 'timelineShowTrue',
      item: '',
      // some stuff about selected element.
      selectedInfo: '',
      selectedElement: '',
      selectedColor: '',
      singleClickSelect: '',

      // some test data which may be deleted later.
      FacilitiesLocation: [
        {
          lat: 50.937175,
          long: 6.931,
          type: 'A',
          facName: 'america company',
          id: 1,
          subCompanies: [2, 4],
          subType: 'distributionCenter'
        },
        {
          lat: -7.668963,
          long: 24.644663,
          type: 'A',
          facName: 'yili company',
          id: 2,
          subCompanies: [3],
          subType: 'tradingOffice'
        },
        {
          lat: 40.7126,
          long: -73.0059,
          type: 'B',
          facName: 'china company',
          id: 3,
          subCompanies: [],
          subType: 'farm'
        },
        {
          lat: 55.95302,
          long: 40.972885,
          type: 'B',
          facName: 'XXXX company',
          id: 4,
          subCompanies: [],
          subType: 'subContractor'
        },
        {
          lat: 60.95302,
          long: 50.972885,
          type: 'B',
          facName: 'qwe company',
          id: 5,
          subCompanies: [1, 2],
          subType: 'mine'
        },
        {
          lat: 60.95302,
          long: 80.972885,
          type: 'B',
          facName: 'qwe company',
          id: 6,
          subCompanies: [5],
          subType: 'factory'
        }
      ],
      countryRiskData: '',
      // this has GeoJSON with country boundary.
      countryJson: countryJson,

      // Loading stuff for this component
      isLoading: true,
      // use for saving component instance.
      thisInstance: '',
      // some attributes relevant to map layer
      attribution: ATTRIBUTION,
      minZoom: 0,
      zoom: 2,
      center: [-244780.24508882355, 5986452.183179816],
      url: 'https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      mapTileLayer: '',
      mapView: '',
      map: '',

      // some attributes relevant to country Json layer
      maxMinRisk: '',
      levelOneRiskColor: 'rgba(0, 255, 0, 0.2)',
      levelTwoRiskColor: 'rgba(127, 255, 0, 0.2)',
      levelThreeRiskColor: 'rgba(255, 255, 0, 0.2)',
      levelFourRiskColor: 'rgba(255, 127, 0, 0.2)',
      levelFiveRiskColor: 'rgba(255, 0, 0, 0.2)',
      differentRiskLayer: '',
      differentRiskStyle: '',
      countryHighlightStrokeStyle: '',
      filterChoice: '',
      imageChoice: '',
      styleFunction: '',

      // some attributes relevant to pins
      iconShadowStyle: '',

      // some attributes relevant to drawing the lines between facilities
      NoSubNotification: new Notification({}),
      arcLayersArray: [],

      // some attributes relevant to Satellite image
      testSatelliteData: '',
      facilitySatelliteJson: '',
      satelliteImageNames: [],

      // about icon stuff
      arrow: require('./Icon/arrow.svg'),
      iconLegend: '',
      iconMarker: '',
      iconFacility: '',
      iconTypeRelationship: {
        distributionCenter: '\uf49e',
        tradingOffice: '\uf362',
        farm: '\uf722',
        mine: '\uf2e5',
        factory: '\uf275',
        subContractor: '\uf4c4'
      },
      NameSuppliers: {
        distributionCenter: 'Distribution Center',
        tradingOffice: 'Trading Office',
        farm: 'Farm',
        mine: 'Mine',
        factory: 'Factory',
        subContractor: 'Sub Contractor'
      }
    }
  },

  created () {
    const thisInstance = this
    this.countryHighlightStrokeStyle = [
      new Style({
        stroke: new Stroke({
          color: '#4287f5',
          width: 3
        })
      })
    ]

    this.iconShadowStyle = [
      new Style({
        image: new Shadow({ radius: 10 }),
        stroke: new Stroke({ color: [0, 0, 0, 0.3], width: 2 }),
        fill: new Fill({ color: [0, 0, 0, 0.3] })
      })
    ]

    this.iconFacility = new Style({
      text: new Text({
        scale: 0.8,
        font: '900 18px "Font Awesome 5 Free"',
        offsetY: -21,
        offsetX: 0,
        fill: new Fill({ color: 'white' })
      }),
      zIndex: 11
    })

    this.iconLegend = this.iconFacility.clone()
    this.iconLegend.text_.setOffsetY(0)
    this.iconLegend.text_.setFill(new Fill({ color: 'black' }))

    this.iconMarker = new Style({
      text: new Text({
        text: '\uf041',
        scale: 2,
        font: '900 18px "Font Awesome 5 Free"',
        offsetY: -19,
        offsetX: 0,
        fill: new Fill({ color: 'black' })
      }),
      zIndex: 10
    })

    // this function is used to fill the color according to Risk value.
    // when selecting is true which means user select it. it should shows highlightedStroke
    // when selecting is false which means user don't select it. it shouldn't shows highlightedStroke
    this.styleFunction = function (feature, selecting) {
      // define country highlighted Stroke style
      const highlightedStroke = new Stroke({
        color: '#4287f5',
        width: 3
      })

      thisInstance.differentRiskStyle = new Style({
        stroke: selecting ? highlightedStroke : ''
      })

      const levelOne = thisInstance.maxMinRisk.min
      const levelTwo =
        thisInstance.maxMinRisk.min + thisInstance.maxMinRisk.riskGap
      const levelThree = levelTwo + thisInstance.maxMinRisk.riskGap
      const levelFour = levelThree + thisInstance.maxMinRisk.riskGap
      const levelFive = levelFour + thisInstance.maxMinRisk.riskGap
      const levelSix = thisInstance.maxMinRisk.max

      if (feature.get(thisInstance.filterChoice).score != null) {
        if (
          // if the risk is low risk, then show low risk color.
          feature.get(thisInstance.filterChoice).score >= levelOne &&
          feature.get(thisInstance.filterChoice).score < levelTwo
        ) {
          const newFill = new Fill({
            color: thisInstance.levelOneRiskColor
          })
          feature.RiskColor = thisInstance.levelOneRiskColor
          thisInstance.differentRiskStyle.setFill(newFill)
        } else if (
          // if the risk is medium-low risk, then show medium-low color.
          feature.get(thisInstance.filterChoice).score >= levelTwo &&
          feature.get(thisInstance.filterChoice).score < levelThree
        ) {
          const newFill = new Fill({
            color: thisInstance.levelTwoRiskColor
          })
          feature.RiskColor = thisInstance.levelTwoRiskColor
          thisInstance.differentRiskStyle.setFill(newFill)
        } else if (
          // if the risk is medium risk, then show medium color.
          feature.get(thisInstance.filterChoice).score >= levelThree &&
          feature.get(thisInstance.filterChoice).score < levelFour
        ) {
          const newFill = new Fill({
            color: thisInstance.levelThreeRiskColor
          })
          feature.RiskColor = thisInstance.levelThreeRiskColor
          thisInstance.differentRiskStyle.setFill(newFill)
        } else if (
          // if the risk is medium-high risk, then show medium-high color.
          feature.get(thisInstance.filterChoice).score >= levelFour &&
          feature.get(thisInstance.filterChoice).score < levelFive
        ) {
          const newFill = new Fill({
            color: thisInstance.levelFourRiskColor
          })
          feature.RiskColor = thisInstance.levelFourRiskColor
          thisInstance.differentRiskStyle.setFill(newFill)
        } else if (
          // if the risk is high risk, then show high color.
          feature.get(thisInstance.filterChoice).score >= levelFive &&
          feature.get(thisInstance.filterChoice).score <= levelSix
        ) {
          const newFill = new Fill({
            color: thisInstance.levelFiveRiskColor
          })
          feature.RiskColor = thisInstance.levelFiveRiskColor
          thisInstance.differentRiskStyle.setFill(newFill)
        }
      } else {
        feature.RiskColor = ''
      }
      return thisInstance.differentRiskStyle
    }
  },
  mounted () {
    const thisInstance = this
    // getting the data from backend, if all data is loaded then render the map.
    axios
      .all([
        axios.get(
          'http://localhost:8000/yili-new/api/edge/analytics/country-risks-new.json'
        ),
        axios.get('http://localhost:8000/satellite/brazil/config.json'),
        axios.get('http://localhost:8000/yili-new/api/edge/analytics/facility-satellite-images.json')
      ])
      .then(
        axios.spread((countryRisk, testSatelliteData, facilitySatelliteJson) => {
          thisInstance.isLoading = false
          thisInstance.testSatelliteData = testSatelliteData.data
          thisInstance.countryRiskData = countryRisk.data
          thisInstance.facilitySatelliteJson = facilitySatelliteJson.data
          const layers = [
            thisInstance.createTileLayer(),
            thisInstance.createDifferentRisk(),
            thisInstance.setPinsForFacilities()
          ]
          thisInstance.createMap(layers)
          thisInstance.disableDoubleClickZoomIn()
          thisInstance.showInformation()
          thisInstance.showFilter()
          thisInstance.showLegend()
          thisInstance.singleClickEvent()
          // thisInstance.setSatellitePic()
          thisInstance.showTimeline()
          thisInstance.setPic()
        })
      )
      .catch(error => console.log(error))
  },
  watch: {

    // if there is no select information then hide the information content
    selectedInfo () {
      if (!this.selectedInfo) {
        this.InfoContent.hide()
      }
    },
    // watching if the filterChoice is changed, if changed, get different risk colors according to risk
    // and set layer as visible.
    // but if choice is NoRisk, then country risk layer is set to invisible.
    filterChoice () {
      this.selectedInfo = ''
      if (this.differentRiskLayer !== '') {
        if (this.filterChoice === 'NoRisk') {
          this.differentRiskLayer.setVisible(false)
        } else {
          this.setRiskColor()
        }
      }

      if (this.singleClickSelect) {
        // clean all highlighted features after filter choice is changed
        this.singleClickSelect.getFeatures().clear()
        this.selectedElement = ''
        this.deleteArcLayers(this)
      }
    }
  },
  methods: {
    setPic () {
      const data = this.testSatelliteData.geom.geometry.coordinates[0]
      this.map.on('moveend', e => {
        if (this.imageChoice) {
          const newZoom = this.map.getView().getZoom()
          // if the zoom is bigger than 11 then show the satellite images, and the image doesn't show in the map.s
          if (newZoom >= 11 && !this.satelliteImageNames.includes(this.testSatelliteData.name)) {
            let extent = this.map.getView().calculateExtent(this.map.getSize())
            // map view extent order is [west, south, east, north]
            extent = transformExtent(extent, 'EPSG:3857', 'EPSG:3857')
            // image coordinates.
            const west = data[0][0]
            const south = data[0][1]
            const north = data[2][1]
            const east = data[2][0]
            const mapView = turf.polygon([[[extent[2], extent[1]], [extent[2], extent[3]], [extent[0], extent[3]], [extent[0], extent[1]], [extent[2], extent[1]]]])
            const imageView = turf.polygon([[[east, south], [east, north], [west, north], [west, south], [east, south]]])
            // check if any corner point of image is in the map, if the imageView includes mapView.
            if (turf.booleanContains(mapView, turf.point([west, south])) ||
                    turf.booleanContains(mapView, turf.point([west, north])) ||
                    turf.booleanContains(mapView, turf.point([east, south])) ||
                    turf.booleanContains(mapView, turf.point([east, north])) ||
                    turf.booleanContains(imageView, mapView)) {
              // position order is [west, south, east, north]
              const position = transformExtent([east, north, west, south], 'EPSG:3857', 'EPSG:3857')
              const imageLayer = new Image({
                name: this.testSatelliteData.name,
                positionWest: west,
                zIndex: 4,
                source: new ImageStatic({
                  url: 'http://localhost:8000/satellite/brazil/RGB.png',
                  imageExtent: position
                })
              })
              this.satelliteImageNames.push(imageLayer.values_.name)
              this.map.addLayer(imageLayer)
            }
          } else if (newZoom < 11) {
            // if the zoom level is small than 11, then delete all image layers (satellite's images)
            for (let index = 0; index < this.map.getLayers().array_.length; index++) {
              if (this.map.getLayers().array_[index].type === 'IMAGE') {
                this.map.removeLayer(this.map.getLayers().array_[index])
                this.satelliteImageNames = []
              }
            }
          }
        }
      })
    },

    showTimeline () {
      const thisInstance = this
      const tLine = new Timeline({
        features: [],
        interval: '30d', // 90 days = 3 month interval
        graduation: 'day', // 'month'
        minDate: new Date('1914-01-01'),
        maxDate: new Date('1920-01-01'),
        getHTML: function (f) {
          return f.text
        },
        getFeatureDate: function (f) {
          return f.date
        },
        endFeatureDate: function (f) {
          return f.endDate
        }
      })
      this.map.addControl(tLine)

      // defining the bottom which can trigger filter content.
      const t = new Toggle({
        html: '<i class="fas fa-history"></i>',
        className: 'history',
        title: 'historyButton',
        onToggle: function () {
          tLine.toggle()
        }
      })
      tLine.on('collapse', function (e) {
        if (e.collapsed) {
          thisInstance.timelineShow = 'timelineShowFalse'
        } else {
          thisInstance.timelineShow = 'timelineShowTrue'
        }
      })
      this.map.addControl(t)
    },

    // this method is used to set satellite images into the map.
    // but it is need to be changed in the future. because only available for one image
    setSatellitePic () {
      const data = this.testSatelliteData.geom.geometry.coordinates[0]
      const west = data[0][0]
      const south = data[0][1]
      const north = data[2][1]
      const east = data[2][0]
      // change EPSG:3858 to EPSG:3859.
      // we need this function because in the future we may use other EPSG system.
      const extent = transformExtent(
        [east, north, west, south],
        'EPSG:3857',
        'EPSG:3857'
      )

      const imageLayer = new Image({
        zIndex: 4,
        source: new ImageStatic({
          url: 'http://localhost:8000/satellite/brazil/RGB.png',
          imageExtent: extent
        })
      })

      this.map.addLayer(imageLayer)
    },

    // this function is going to set style, according to the risk.
    setRiskColor () {
      const thisInstance = this
      this.differentRiskLayer.setVisible(true)
      this.maxMinRisk = this.defineRiskColor(this.filterChoice)
      this.differentRiskLayer.setStyle(function (feature) {
        return thisInstance.styleFunction(feature)
      })
    },

    // this function is used to select country from country risk data merge with normal geojson
    // and generate a new GeoJson with selected country and risk data
    selectedNeededGeoJson () {
      const neededJson = []
      for (const key in this.countryRiskData) {
        let found = false
        for (let i = 0; i < this.countryJson.features.length; i++) {
          if (this.countryJson.features[i].properties.ISO_A3 === key) {
            // set a type, later type is used to check it is facility or country during selecting.
            this.countryJson.features[i].properties.type = 'country'
            const temp = this.countryJson.features[i]
            // merge country risk data and geojson data
            temp.properties = Object.assign(
              temp.properties,
              this.countryRiskData[key]
            )
            neededJson.push(this.countryJson.features[i])
            found = true
          }
        }
        // checking the country ID from risk data if it is exist in geojson
        if (found === false) {
          console.log(key + ' is not founded')
        }
      }
      return {
        type: 'FeatureCollection',
        features: neededJson
      }
    },
    // use to find layers which have arcs and delete them.
    deleteArcLayers (thisInstance) {
      // get array of layers which has arcs....
      const layersNeedBeDeleted = thisInstance.map
        .getLayers()
        .array_.filter(
          value => thisInstance.arcLayersArray.indexOf(value) !== -1
        )

      for (let index = 0; index < layersNeedBeDeleted.length; index++) {
        thisInstance.map.removeLayer(layersNeedBeDeleted[index])
      }
      thisInstance.arcLayersArray = []
    },

    // this function is used for setting the sing click event on the map.
    singleClickEvent () {
      const thisInstance = this
      this.singleClickSelect = new Select({
        toggleCondition: never,
        hitTolerance: 0,
        multi: false,
        condition: singleClick,
        wrapX: true,
        style: function (feature) {
          // if selected feature is facility then highlight the facility with blue.
          if (feature.get('type') === 'facility') {
            const featureSubType = feature.get('subType')
            thisInstance.iconFacility.text_.setText(
              thisInstance.iconTypeRelationship[featureSubType]
            )
            thisInstance.iconMarker.text_.setFill(
              new Fill({ color: 'rgba(255, 0, 0, 0.8)' })
            )
            const IconStyle = [
              thisInstance.iconFacility,
              thisInstance.iconMarker
            ]
            const newIconStyle = thisInstance.iconShadowStyle.concat(IconStyle)
            return newIconStyle
          } else if (feature.get('type') === 'country') {
            // if country is selected, then make country style in highlight style.
            return thisInstance.styleFunction(feature, true)
          }
        },
        filter: function (feature, layer) {
          // only countries and facilities layers can be selected
          if (
            layer.get('type') === 'countries' ||
            layer.get('type') === 'facilities'
          ) {
            return true
          }
        }
      })

      // important!!! set highlight layer not into hightest layer
      this.singleClickSelect.getOverlay().setZIndex(4)

      this.map.addInteraction(this.singleClickSelect)

      // when select different element, the map has different response,
      this.singleClickSelect.on('select', function (e) {
        if (e.deselected.length) {
          // if the factory is deselected, the arcs should be deleted
          if (e.deselected[0].get('type') === 'facility') {
            thisInstance.deleteArcLayers(thisInstance)
          }
        }

        if (e.selected.length) {
          const selectedLayer = thisInstance.singleClickSelect.getLayer(
            e.selected[0]
          )
          if (selectedLayer.get('type') === 'countries') {
            // if country is selected, then delete all arcs and get all information into InfoContent.
            // show the InfoContent automatically.
            thisInstance.selectedElement = 'country'
            thisInstance.deleteArcLayers(thisInstance)
            thisInstance.selectedColor = e.selected[0].RiskColor
            thisInstance.selectedInfo = e.selected[0].values_
            thisInstance.InfoContent.show()
          } else if (selectedLayer.get('type') === 'facilities') {
            // if facility is selected, then show the arc betweens facilities and get all information into InfoContent.
            // show the InfoContent automatically.
            thisInstance.selectedElement = 'facility'
            thisInstance.selectedColor = ''
            thisInstance.selectedInfo = e.selected[0].values_
            thisInstance.drawFacilityLines(e)
            thisInstance.InfoContent.show()
          } else {
            // disable selectable arcs.
            this.singleClickSelect.getFeatures().clear()
          }
        } else {
          // if nothing is selected, then clear selected element and selected info.
          thisInstance.selectedElement = ''
          thisInstance.selectedInfo = ''
        }
      })
    },
    // get the choice element from filter component.
    filterMountedFunction (payload) {
      this.filterChoice = payload.filterChoice
      this.imageChoice = payload.imageChoice
    },

    // add a legend in the map
    showLegend () {
      const legend = new Legend({
        title: 'Legend',
        margin: 5,
        collapsed: false
      })

      for (const key in this.iconTypeRelationship) {
        const iconTemp = this.iconLegend.clone()
        iconTemp.text_.setText(this.iconTypeRelationship[key])
        legend.addRow({
          title: this.NameSuppliers[key],
          typeGeom: 'Point',
          style: iconTemp
        })
      }
      this.map.addControl(legend)
    },

    // add a filter content at map right side
    // add a button which can trigger filter.
    showFilter () {
      const thisInstance = this
      this.filter = new Overlay({
        closeBox: true,
        className: 'slide-left filter',
        content: this.$refs.filter.$refs.filter
      })

      this.map.addControl(this.filter)
      // defining the bottom which can trigger filter content.
      const t = new Toggle({
        html: '<i class="fas fa-filter"></i>',
        className: 'filter',
        title: 'filterButton',
        onToggle: function () {
          thisInstance.filter.toggle()
        }
      })
      this.map.addControl(t)
    },
    // add a information content at map left side
    // add a button which can trigger information content.
    showInformation () {
      const thisInstance = this
      this.InfoContent = new Overlay({
        closeBox: true,
        className: 'slide-right infoContent',
        content: this.$refs.InfoContent.$refs.content
      })
      this.map.addControl(this.InfoContent)
      // defining the bottom which can trigger information content.
      const t = new Toggle({
        html: '<i class="fas fa-info"></i>',
        className: 'info',
        title: 'infoButton',
        onToggle: function () {
          thisInstance.InfoContent.toggle()
        }
      })
      this.map.addControl(t)
    },

    // this function is used to disable double click zoom in
    disableDoubleClickZoomIn () {
      let dblClickInteraction
      this.map
        .getInteractions()
        .getArray()
        .forEach(function (interaction) {
          if (interaction instanceof DoubleClickZoom) {
            dblClickInteraction = interaction
          }
        })
      this.map.removeInteraction(dblClickInteraction)
    },
    // this function is used to show the arc between two facilities.
    drawFacilityLines (e) {
      // this var is used for recording the arc layers
      this.arcLayersArray = []
      if (e.selected[0].get('subCompanies').length === 0) {
        // showing notification without sub company
        this.NoSubNotification.show('no Suppliers')
        this.map.addControl(this.NoSubNotification)
      } else {
        const subCompanies = e.selected[0].get('subCompanies')

        // loop over array to get sub company id
        for (let i = 0; i < subCompanies.length; i++) {
          // search the sub company from data
          for (let index = 0; index < this.FacilitiesLocation.length; index++) {
            // find sub company from data
            if (this.FacilitiesLocation[index].id === subCompanies[i]) {
              const dx =
                this.FacilitiesLocation[index].long - e.selected[0].get('long')
              const dy =
                this.FacilitiesLocation[index].lat - e.selected[0].get('lat')
              const rotation = Math.atan2(dy, dx)
              const start = turf.point([
                this.FacilitiesLocation[index].long,
                this.FacilitiesLocation[index].lat
              ])
              const end = turf.point([
                e.selected[0].get('long'),
                e.selected[0].get('lat')
              ])
              // get a lot of lines which can make arc in GeoJSON format.
              const greatCircle = turf.greatCircle(start, end, {
                npoints: 200
              })
              const linesSource = new VectorSource({
                features: new GeoJSON({
                  defaultDataProjection: 'EPSG:4326',
                  featureProjection: 'EPSG:3857'
                }).readFeatures(greatCircle)
              })
              const linierStyles = [
                new Style({
                  stroke: new Stroke({
                    color: '#4287f5',
                    width: 1
                  })
                })
              ]
              const layerLines = new VectorLayer({
                zIndex: 6,
                source: linesSource
              })
              // set arrow on the arc.
              linierStyles.push(
                new Style({
                  // get middle point to put arrow icon on it.
                  geometry: new Point(
                    fromLonLat(greatCircle.geometry.coordinates[99])
                  ),
                  image: new Icon({
                    src: this.arrow,
                    scale: 0.3,
                    color: '#4287f5',
                    anchor: [0.5, 0.5],
                    rotateWithView: true,
                    rotation: -rotation + Math.PI
                  })
                })
              )

              layerLines.setStyle(linierStyles)
              this.arcLayersArray.push(layerLines)
              this.map.addLayer(layerLines)
            }
          }
        }
      }
    },
    // set facilities on the map.
    setPinsForFacilities () {
      const thisInstance = this
      const features = []
      for (let i = 0; i < this.FacilitiesLocation.length; i++) {
        const iconFeature = new Feature({
          subType: this.FacilitiesLocation[i].subType,
          type: 'facility',
          facName: this.FacilitiesLocation[i].facName,
          lat: this.FacilitiesLocation[i].lat,
          long: this.FacilitiesLocation[i].long,
          subCompanies: this.FacilitiesLocation[i].subCompanies,
          geometry: new Point(
            fromLonLat([
              this.FacilitiesLocation[i].long,
              this.FacilitiesLocation[i].lat
            ])
          )
        })

        features.push(iconFeature)
      }
      const facilitiesSource = new VectorSource({
        features: features,
        wrapX: true
      })
      const facilitiesLayer = new VectorLayer({
        type: 'facilities',
        source: facilitiesSource,
        zIndex: 5,
        updateWhileAnimating: true,
        updateWhileInteracting: true
      })
      // setting the style of icon according to type of company.
      facilitiesLayer.setStyle(function (feature) {
        const featureSubType = feature.get('subType')
        thisInstance.iconFacility.text_.setText(
          thisInstance.iconTypeRelationship[featureSubType]
        )
        thisInstance.iconMarker.text_.setFill(
          new Fill({ color: 'rgba(0, 0, 0, 0.9)' })
        )

        const IconStyle = [thisInstance.iconFacility, thisInstance.iconMarker]
        const newIconStyle = thisInstance.iconShadowStyle.concat(IconStyle)
        return newIconStyle
      })

      return facilitiesLayer
    },

    // According to the choice, get max and min value and gap value,
    // it is used to define to color for different risk
    defineRiskColor (choice) {
      const allValues = []

      for (const key in this.countryRiskData) {
        const score = this.countryRiskData[key][choice].score
        if (score != null) {
          allValues.push(score)
        }
      }
      const max = Math.max.apply(null, allValues)
      const min = Math.min.apply(null, allValues)
      const riskGap = (max - min) / 6
      return { max: max, min: min, riskGap: riskGap }
    },

    // generate Country Risk layer but set it as invisible.
    createDifferentRisk () {
      // translate geoJson from EPSG 4326 to EPSG 3857
      const vectorSource = new VectorSource({
        features: new GeoJSON({
          defaultDataProjection: 'EPSG:4326',
          featureProjection: 'EPSG:3857'
        }).readFeatures(this.selectedNeededGeoJson())
      })

      // set GeoJson layer as second layer.
      this.differentRiskLayer = new VectorLayer({
        type: 'countries',
        visible: false,
        source: vectorSource,
        zIndex: 1
      })
      return this.differentRiskLayer
    },

    // createTileLayer, createView, createMap are used for creating the map which is lowest layer for the map.
    createTileLayer () {
      const newMapTile = new OSM({
        attributions: [
          'Yili Zhang, © <a href="https://sustainabill.de//">Sustainabill</a>',
          this.attribution
        ],
        url: this.url,
        wrapX: true
      })

      this.mapTileLayer = new TileLayer({
        title: 'Open Street Map',
        source: newMapTile,
        zIndex: 0
      })
      return this.mapTileLayer
    },

    createView () {
      this.mapView = new View({
        minZoom: this.minZoom,
        center: this.center,
        zoom: this.zoom,
        // when u have extent then u can limit area of map.
        extent: transformExtent(
          [-Infinity, -90, Infinity, 90],
          'EPSG:4326',
          'EPSG:3857'
        )
        // extent: [-Infinity, -20037508.342789 / 2, Infinity, 20037508.342789 / 2]
      })
      return this.mapView
    },

    createMap (layers) {
      const fullScreen = new FullScreen({
        className: 'fullscreen'
      })
      this.map = new Map({
        controls: defaultControls({
          zoom: false
        }).extend([fullScreen]),
        layers: layers,
        loadTilesWhileInteracting: true,
        target: 'map',
        view: this.createView()
      })
    }
  }
}
</script>

<style>
@import "../../node_modules/ol-ext/dist/ol-ext.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";

.timelineShowTrue .ol-attribution {
  bottom: 6.2em;
  transition: 0.3s;
}

.timelineShowTrue .ol-legend {
  bottom: 6.2em;
  transition: 0.3s;
}

.ol-legend {
  transition: 0.3s;
}

.timelineShowTrue .ol-control.history {
  bottom: 6.2em;
  transition: 0.3s;
}

.ol-attribution {
  transition: 0.3s;
}

#InfoContent {
  margin-top: 3em;
}

.ol-overlay {
  font-family: "Inter";
}

.ol-full-screen {
  top: 3em;
}

.ol-overlay.filter {
  width: 25%;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 5px #000;
  padding: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  height: 30%;
  overflow: scroll;
  font-weight: bold;
}

#filter {
  font-size: 1em;
}

.ol-control.filter {
  top: 0.5em;
  left: 0.5em;
}

.ol-control.info {
  top: 0.5em;
  right: 0.5em;
}

.ol-control.history {
  transition: 0.5s;
  bottom: 0.5em;
  left: 50%;
}

.ol-control.fullscreen {
  top: 0.5em;
  left: 50%;
}

.ol-overlay.infoContent .ol-closebox:before {
  content: "\f00d";
  font-family: FontAwesome;
}

.ol-overlay.infoContent {
  left: 75%;
  width: 25%;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 5px #000;
  padding: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  overflow: scroll;
  font-weight: bold;
}

.ol-overlay.filter .ol-closebox:before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
}
</style>
