<template>
  <div>
    <vue-layer-map></vue-layer-map>
  </div>
</template>

<script>
import VueLayerMap from "../components/VueLayerMap.vue";
import axios from 'axios';
import countrieshigJson from "../assets/GeoJSON/counties_higRes.json";
import countriesmidJson from "../assets/GeoJSON/counties_midRes.json";
import countrieslowJson from "../assets/GeoJSON/counties_lowRes.json";

export default {
  components: {
    VueLayerMap
  },
  data () {
    return {}
  },
  props: [],
  methods: {}
};
</script>

<style scoped>
</style>
