<template>
  <div class="visualization">
    <bar-chart
      @isMounted="mountedFunction"
      :chartData="chartData"
      :options="optionsData"
      :freedomValue="getAverageFreedom"
      :incomeValue="getAverageIncome"
      :respectValue="getAverageRespect"
      :satisfactionValue="getAverageSatisfaction"
      :freedom="freedom"
      :income="income"
      :respect="respect"
      :satisfaction="satisfaction"
      :width="700"
      :height="500"
    ></bar-chart>

    <select v-model="selectedIndustry">
      <option disabled value>please select one industry</option>
      <option
        v-for="each in industryList"
        :value="each"
        :disabled="!(allSelectedFactoryName.length === 0)"
        :key="each"
      >{{each}}</option>
    </select>

    <select v-model="selectedCountry">
      <option disabled value>please select one</option>
      <option
        v-for="each in countryChoices"
        :value="each"
        :disabled="!(allSelectedFactoryName.length === 0)"
        :key="each"
      >{{each}}</option>
    </select>

    <select v-model="inputedFactoryName">
      <option disabled value>please select one</option>
      <option
        v-for="each in factoryNameChoices"
        :disabled="allSelectedFactoryName.includes(each)"
        :value="each"
        :key="each"
      >{{each}}</option>
    </select>

    <button @click="addSelectedData">Add</button>

    <!--why I can't output Chartdata to debug, it will have error. -->
    <select v-model="selectedColorSchemes">
      <option
        v-for="each_scheme in colorSchemesChoice"
        :selected="selectedColorSchemes == 'brewer.YlGn3'"
        :value="each_scheme"
        :key="each_scheme"
      >{{each_scheme}}</option>
    </select>

    <ul>
      <li v-for="each_factory in allSelectedFactoryName" :key="each_factory">
        {{ each_factory }}
        <button @click="removeFactory(each_factory)">X</button>
      </li>
    </ul>
  </div>
</template>

<script>
import BarChart from "../components/BarChart.vue";
import json_data from "../assets/data.json";

export default {
  components: {
    BarChart
  },
  data() {
    return {
      data: json_data.dataset,
      freedom: 0,
      income: 1,
      respect: 2,
      satisfaction: 3,
      industryList: null,
      selectedIndustry: null,
      selectedCountry: null,
      selectedColorSchemes: "brewer.Paired12",
      inputedFactoryName: null,
      allSelectedFactoryName: [],
      allSelectedData: [],
      colorSchemes: "",
      chartInstance: ""
    };
  },

  created: function() {
    // generate a industry list that user can choose.
    // it generate in the create function,
    // because it is not relevant to other variables except databse.
    this.colorSchemes = Chart.colorschemes;
    this.industryList = this.industryChoices();
  },

  computed: {
    // get all color schemes in a array form.
    colorSchemesChoice() {
      var tempArray = [];
      for (var key in this.colorSchemes) {
        for (var i of Object.keys(this.colorSchemes[key])) {
          tempArray.push(key + "." + i);
        }
      }
      return tempArray;
    },

    // get all data with selected industry.
    dataWithSelectedIndustry() {
      return this.data.filter(eachData => {
        return eachData.industry === this.selectedIndustry;
      });
    },

    // get all data with selected industry and country.
    dataWithSelectedIndustryAndCountry() {
      return this.dataWithSelectedIndustry.filter(eachData => {
        return eachData.country === this.selectedCountry;
      });
    },

    // get all data with selected industry and country and name.
    selectedData() {
      return this.dataWithSelectedIndustryAndCountry.filter(eachData => {
        return eachData.factory_name === this.inputedFactoryName;
      });
    },

    // get all fathory name with selected industry and country.
    factoryNameChoices() {
      if ((this.selectedIndustry != null) & (this.selectedCountry != null)) {
        return this.dataWithSelectedIndustryAndCountry
          .map(eachData => {
            return eachData.factory_name;
          })
          .sort();
      } else {
        return [];
      }
    },

    // this function is taking all countries from dataWithSelectedIndustry for user inputtings.
    countryChoices() {
      if (this.selectedIndustry === null) {
        return null;
      } else {
        var countries = new Set();
        for (var each of this.dataWithSelectedIndustry) {
          countries.add(each.country);
        }
        return Array.from(countries).sort();
      }
    },

    getAverageFreedom() {
      if (this.selectedIndustry != null && this.selectedCountry != null) {
        var sum = 0;
        for (var each of this.dataWithSelectedIndustryAndCountry) {
          sum += parseFloat(each.whi_freedom);
        }
        return (sum / this.dataWithSelectedIndustryAndCountry.length).toFixed(
          2
        );
      } else {
        return null;
      }
    },

    getAverageIncome() {
      if (this.selectedIndustry != null && this.selectedCountry != null) {
        var sum = 0;
        for (var each of this.dataWithSelectedIndustryAndCountry) {
          sum += parseFloat(each.whi_income);
        }
        return (sum / this.dataWithSelectedIndustryAndCountry.length).toFixed(
          2
        );
      } else {
        return null;
      }
    },

    getAverageRespect() {
      if (this.selectedIndustry != null && this.selectedCountry != null) {
        var sum = 0;
        for (var each of this.dataWithSelectedIndustryAndCountry) {
          sum += parseFloat(each.whi_respect);
        }
        return (sum / this.dataWithSelectedIndustryAndCountry.length).toFixed(
          2
        );
      } else {
        return null;
      }
    },

    getAverageSatisfaction() {
      if (this.selectedIndustry != null && this.selectedCountry != null) {
        var sum = 0;
        for (var each of this.dataWithSelectedIndustryAndCountry) {
          sum += parseFloat(each.whi_satisfaction);
        }
        return (sum / this.dataWithSelectedIndustryAndCountry.length).toFixed(
          2
        );
      } else {
        return null;
      }
    },

    // this function calculate the Average of work_happiness_index
    calculateAverageValue() {
      if (this.selectedIndustry != null && this.selectedCountry != null) {
        var sum = 0;
        for (var each of this.dataWithSelectedIndustryAndCountry) {
          sum += parseFloat(each.work_happiness_index);
        }
        return (sum / this.dataWithSelectedIndustryAndCountry.length).toFixed(
          2
        );
      } else {
        return null;
      }
    },

    generateFreedomData() {
      if (this.allSelectedFactoryName) {
        return this.allSelectedData.map(eachData => {
          return eachData.whi_freedom;
        });
      } else {
        return [];
      }
    },

    generateIncomeData() {
      if (this.allSelectedFactoryName) {
        return this.allSelectedData.map(eachData => {
          return eachData.whi_income;
        });
      } else {
        return [];
      }
    },

    generateRespectData() {
      if (this.allSelectedFactoryName) {
        return this.allSelectedData.map(eachData => {
          return eachData.whi_respect;
        });
      } else {
        return [];
      }
    },

    generateSatisfactionData() {
      if (this.allSelectedFactoryName) {
        return this.allSelectedData.map(eachData => {
          return eachData.whi_satisfaction;
        });
      } else {
        return [];
      }
    },

    chartData() {
      return {
        labels: this.allSelectedFactoryName,
        datasets: [
          {
            label: "freedom",
            fill: false,
            data: this.generateFreedomData
          },
          {
            label: "income",
            fill: false,
            data: this.generateIncomeData
          },
          {
            label: "respect",
            fill: false,
            data: this.generateRespectData
          },
          {
            label: "satisfaction",
            fill: false,
            data: this.generateSatisfactionData
          }
        ]
      };
    },

    optionsData() {
      return {
        title: {
          display: true,
          text: "Working happiness index"
        },
        tooltips: {
          mode: "index",
          intersect: false
        },

        responsive: false,
        scales: {
          xAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: "Company name"
              },
              stacked: true
            }
          ],
          yAxes: [
            {
              ticks: {
                max: 10,
                min: 0,
                stepSize: 0.5
              },
              scaleLabel: {
                display: true,
                labelString: "Total work happiness index"
              },
              stacked: true
            }
          ]
        },
        // in Barchart is going to generate a onclick event. 
        legend: { onClick: "" },
        // annotation is option which is relevant to Average line showed on chart.
        annotation: {
          annotations: [
            {
              type: "line",
              mode: "horizontal",
              scaleID: "y-axis-0",
              value: this.calculateAverageValue,
              borderColor: "blue",
              borderWidth: 1,
              label: {
                enabled: true,
                content: "Average value: " + this.calculateAverageValue
              }
            }
          ]
        },
        plugins: {
          colorschemes: {
            scheme: this.selectedColorSchemes
          }
        }
      };
    }
  },

  methods: {
    // this method checks whether the user-inputed name in the database.
    // also checks if the fatory name is already shows in the chart.
    // also checks if the all blanks are completely filled.
    addSelectedData() {
      if (
        this.selectedIndustry &&
        this.selectedCountry &&
        this.inputedFactoryName &&
        !this.allSelectedFactoryName.includes(this.inputedFactoryName)
      ) {
        if (this.selectedData.length) {
          this.allSelectedFactoryName.push(this.inputedFactoryName);
          this.allSelectedData.push(this.selectedData[0]);
        } else {
          alert("The fatory name is not in the database");
        }
      } else if (
        this.allSelectedFactoryName.includes(this.inputedFactoryName)
      ) {
        alert("the fatory name is already shows in the chart");
      } else if (!this.selectedIndustry) {
        alert("please choose industory");
      } else if (!this.selectedCountry) {
        alert("please choose country");
      } else if (!this.inputedFactoryName) {
        alert("please choose fatory name");
      }
    },

    // this method is used to generate list of indutry at the beginning.
    // because it is only needed to generated one time, that is why it is put in the create.
    industryChoices() {
      var industries = new Set();
      for (var each of this.data) {
        industries.add(each.industry);
      }
      return Array.from(industries).sort();
    },

    // this method is used to remove the selected bar from chart
    removeFactory(name) {
      var index = this.allSelectedFactoryName.indexOf(name);
      this.allSelectedFactoryName.splice(index, 1);
      this.generateFreedomData.splice(index, 1);
      this.generateIncomeData.splice(index, 1);
      this.generateRespectData.splice(index, 1);
      this.generateSatisfactionData.splice(index, 1);
      this.allSelectedData.splice(index, 1);
    },

    // actually this is no needed, i just put here for fun 
    mountedFunction(payload) {
      this.chartInstance = payload;
      console.log(this.chartInstance);
    }
  },
  mounted() {

  }
};
</script>
<style>
</style>
