<script>
import { Bar, mixins } from "vue-chartjs";
import ChartAnnotationsPlugin from "chartjs-plugin-annotation";
import ChartjsPluginColorschemes from "chartjs-plugin-colorschemes";

export default {
  extends: Bar,
  mixins: [mixins.reactiveProp],
  props: [
    "options",
    "freedomValue",
    "incomeValue",
    "respectValue",
    "satisfactionValue",
    "freedom",
    "income",
    "respect",
    "satisfaction"
  ],
  created: function() {
    // add plugin, ChartAnnotationsPlugin is for Average line 
    // ChartjsPluginColorschemes is for color.
    this.addPlugin(ChartAnnotationsPlugin);
    this.addPlugin(ChartjsPluginColorschemes);
  },


  methods: {
    // This method is going to do the event when dataset is clicked, either show or hidden.
    // at the same time, the temAverageValue will be calculated. if the dataset is hidden, then it is not considered to be added in the temAverageValue.
    onClickMethod(_this, e, legendItem) {

      // click on the dataset, dataset is going to be hidden. if clicking the dataset again, the data set is going to be showed up.
      var index = legendItem.datasetIndex;
      var alreadyHidden =
        _this.getDatasetMeta(index).hidden === null ? false : true;

      if (alreadyHidden) {
        _this.getDatasetMeta(index).hidden = null;
      } else {
        _this.getDatasetMeta(index).hidden = true;
      }

      var step;
      var temAverageValue = null;
      // checking if the dataset is hidden or not, if it is not hidden, it will be calculated into temAverageValue.
      if (this.freedomValue != null) {
        for (step = 0; step < _this.data.datasets.length; step++) {
          if (_this.getDatasetMeta(step).hidden === null) {
            if (step === this.freedom) {
              temAverageValue = temAverageValue + Number(this.freedomValue);
            } else if (step === this.income) {
              temAverageValue = temAverageValue + Number(this.incomeValue);
            } else if (step === this.respect) {
              temAverageValue = temAverageValue + Number(this.respectValue);
            } else if (step === this.satisfaction) {
              temAverageValue =
                temAverageValue + Number(this.satisfactionValue);
            }
          }
        }
      }
      // insert the temAverageValue into proper position in the options. 
      if (temAverageValue!=null){
         _this.options["annotation"]["annotations"][0]["value"] =temAverageValue.toFixed(2);
         _this.options["annotation"]["annotations"][0]["label"]["content"] ="Average value: " + temAverageValue.toFixed(2);
      }else{
        _this.options["annotation"]["annotations"][0]["value"] =null;
      };
      // update chart after clicking.
      _this.update();
    }
  },
  watch: {
    // watching if the options is changed, if changed, it will render a new Chart. 
    options() {
      var _this = this;
      this.options["legend"]["onClick"] = function(e, legendItem) {
        _this.onClickMethod(_this.$data._chart, e, legendItem);
      };
      this.renderChart(this.chartData, this.options);
    },
    
  },
  mounted() {
    this.renderChart(this.chartData, this.options);
    this.$emit("isMounted", this.$data._chart);
  }
};
</script>

<style>
</style>
