/* eslint-disable no-undef */
<template>
  <div class="row map">
    {{perc2color(100)}}
    <l-map ref="map" :zoom="zoom" :center="center">
      <l-tile-layer :url="url" :attribution="attribution" :noWrap="true"></l-tile-layer>
      <l-geo-json :geojson="geojson" :options="optionsData"></l-geo-json>
      <l-marker
        :key="index"
        :icon="selectedIcon"
        v-for="(data, index) in datas"
        v-on:click="showArc(data)"
        :lat-lng="latLng(data.latitude,data.longitude)"
      >
        <l-tooltip :content="data.name"></l-tooltip>
      </l-marker>
    </l-map>
  </div>
</template>

<script>
import { LMap, LTileLayer, LMarker, LTooltip, LGeoJson } from 'vue2-leaflet'
// some must do before using leaflet
import { Icon } from 'leaflet'
import 'leaflet/dist/leaflet.css'
import 'leaflet-swoopy'

// this part resolve an issue where the markers would not appear
delete Icon.Default.prototype._getIconUrl

Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
})

export default {
  name: 'MyAwesomeMap',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LGeoJson
  },
  data () {
    return {
      zoom: 2,
      // eslint-disable-next-line no-undef
      center: L.latLng(50.41322, -1.219482),
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',

      // eslint-disable-next-line no-undef
      selectedIcon: L.icon({
        iconUrl: 'http://leafletjs.com/examples/custom-icons/leaf-green.png',
        shadowUrl: 'http://leafletjs.com/examples/custom-icons/leaf-shadow.png',
        iconSize: [38, 95],
        shadowSize: [50, 64],
        iconAnchor: [22, 94],
        shadowAnchor: [4, 62],
        popupAnchor: [-3, -76]
      }),

      optionsData: {
        style: function (feature) {
          const percentage = feature.properties.extraInfo['social risk']
          let r
          let g
          const b = 0
          if (percentage < 50) {
            g = 255
            r = Math.round(5.1 * percentage)
          } else {
            r = 255
            g = Math.round(510 - 5.1 * percentage)
          }
          const h = r * 0x10000 + g * 0x100 + b * 0x1

          return {
            color: '#' + ('000000' + h.toString(16)).slice(-6)
          }
        },
        // this feature is pop up the country name when the user put mouse on the area.
        onEachFeature: function onEachFeature (feature, layer) {
          // does this feature have a property named popupContent?

          const number = Number(feature.properties.extraInfo['social risk'])
          layer.bindPopup(number + feature.properties.name)
        }
      },
      relativeId: [247, 4, 163]
    }
  },

  props: ['datas', 'geojson'],
  methods: {
    // a method to deal with latitude and longitude.
    latLng (lat, lng) {
      // eslint-disable-next-line no-undef
      return L.latLng(lat, lng)
    },
    perc2color (percentage) {
      percentage = 100 - percentage
      let r
      let g
      let b = 0
      if (percentage < 50) {
        r = 255
        g = Math.round(5.1 * percentage)
      } else {
        g = 255
        r = Math.round(510 - 5.1 * percentage)
      }

      const h = r * 0x10000 + g * 0x100 + b * 0x1
      console.log(0x1)
      // console.log(h)
      // console.log("000000"+h.toString(16))
      // console.log(("000000" + h.toString(16)).slice(-6))

      return '#' + ('000000' + h.toString(16)).slice(-6)
    },

    getDataAccrordingrelativeId (latlng1) {
      for (const data of this.datas) {
        if (this.relativeId.includes(data.id)) {
          const path = new L.SwoopyArrow(
            [Number(data.latitude), Number(data.longitude)],
            latlng1,
            {
              color: 'red',
              // I think we can change the custom arrow.
              // arrowId:"marker-mid",
              factor: 0.7,
              weight: 10,
              arrowFilled: false
            }
          ).addTo(this.$refs.map.mapObject)
        }
      }
    },
    showArc (data) {
      const latlng1 = [Number(data.latitude), Number(data.longitude)]
      this.getDataAccrordingrelativeId(latlng1)
    }
  }
}
</script>

<style scoped>
.map {
  height: 100vh;
}
</style>
