<template>
  <div :class="$options.name">
    <img width="100" height="200" :src="iconsvg" />
    <span class="fa-layers fa-fw fa-2x">
      <i class="fas fa-map-marker"></i>
      <i class="fas fa-industry" data-fa-transform="shrink-10 up-2" :style="{ color: 'white' }"></i>
    </span>
    <font-awesome-layers class="fa-fw fa-2x">
      <font-awesome-icon icon="map-marker" />
      <font-awesome-icon icon="industry" transform="shrink-10 up-2" :style="{ color: 'white' }" />
    </font-awesome-layers>

    <vl-map
      class="map"
      ref="map"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      @mounted="onMapMounted"
      :wrapX="false"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation" :minZoom="minZoom"></vl-view>

      <vl-interaction-select :features.sync="selectedFeatures" :wrapX="false">
        <!-- select styles -->
        <vl-style-box>
          <vl-style-stroke color="#423e9e" :width="7"></vl-style-stroke>
          <vl-style-fill :color="[254, 178, 76, 0.7]"></vl-style-fill>
        </vl-style-box>
        <vl-style-box :z-index="1">
          <vl-style-stroke color="#d43f45" :width="2"></vl-style-stroke>
        </vl-style-box>
      </vl-interaction-select>

      <!-- base layers -->
      <vl-layer-tile>
        <vl-source-osm :wrapX="false"></vl-source-osm>
      </vl-layer-tile>

      <component v-for="layer in layers" :is="layer.cmp" :key="layer.id" :visible="layer.visible">
        <component :is="layer.source.cmp" v-bind="layer.source"></component>
        <template v-if="layer.style">
          <component v-for="(style, i) in layer.style" :key="i" :is="style.cmp" v-bind="style">
            <!-- create inner style components: vl-style-circle, vl-style-icon, vl-style-fill, vl-style-stroke & etc -->
            <template v-if="style.styles">
              <component v-for="(st, cmp) in style.styles" :key="cmp" :is="cmp" v-bind="st"></component>
            </template>
          </component>
        </template>
      </component>

      <vl-layer-vector>
        <vl-source-vector :features.sync="features" :wrapX="false" />
        <vl-style-box>
          <!--<vl-style-icon :img="myImage" :imgSize="[100, 200]"/>-->
          <vl-style-icon :src="iconsvg" :scale="0.05" :anchor="[0.5, 1]" />
        </vl-style-box>
      </vl-layer-vector>

      <!--src="http://simpleicon.com/wp-content/uploads/rocket.svg"-->
      <vl-feature id="marker" ref="marker">
        <vl-geom-point :coordinates="[-10, -10]"></vl-geom-point>
        <!--<vl-style-box>
          <vl-style-icon
            :src="iconsvg" 
            :scale="0.04"
            :anchor="[0, 0]"
          ></vl-style-icon>
        </vl-style-box>-->
      </vl-feature>
    </vl-map>
    <!--// app map-->

    <!-- map panel, controls -->

    <div class="map-panel">
      <b-collapse class="card" aria-id="contentIdForA11y3">
        <div slot="trigger" slot-scope="props" class="card-header">
          <p class="card-header-title">Component</p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
          </a>
        </div>
        <p class="panel-tabs">
          <a @click="showMapPanelTab('risk')" :class="mapPanelTabClasses('risk')">Risk</a>
          <a @click="showMapPanelTab('state')" :class="mapPanelTabClasses('state')">State</a>
        </p>

        <div
          class="panel-block"
          v-show="mapPanel.tab === 'risk'"
          v-for="layer in layers"
          :key="layer.id"
        >
          <b-switch v-model="layer.visible">{{ layer.title }}</b-switch>
        </div>
        <template v-if="selectedFeatures.length">
          <div
            class="panel-block"
            v-for="selectedFeature in selectedFeatures"
            :key="selectedFeature.id"
            v-show="mapPanel.tab === 'state'"
          >{{selectedFeature.id}}</div>
        </template>
        <template v-else>
          <div
            class="panel-block"
            v-show="mapPanel.tab === 'state'"
          >please country to get information</div>
        </template>
      </b-collapse>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VueLayers from "vuelayers";
import "vuelayers/lib/style.css";
//import iconsvg from "./rocket.svg";

import ScaleLine from "ol/control/ScaleLine";
import FullScreen from "ol/control/FullScreen";
import OverviewMap from "ol/control/OverviewMap";
import ZoomSlider from "ol/control/ZoomSlider";

// register all VueLayers components
Vue.use(VueLayers);

// register all buefy
import Buefy from "buefy";
import "buefy/dist/buefy.css";
Vue.use(Buefy);

export default {
  name: "heatmap",
  components: {},
  mounted() {
    console.log(this.iconsvg);
  },
  created() {},
  data() {
    return {
      scale: 4,
      iconsvg: require("./industry.svg"),
      svgComment:
        '<svg width="160" height="160" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160" viewPort="0 0 160 160" class="svgClass">' +
        '<circle cx="30" cy="30" r="10" stroke="rgb(0, 191, 255)" stroke-width="1" fill="none" opacity="0.8">' +
        '<animate attributeType="CSS" attributeName="stroke-width" from="1" to="30" dur="0.5s" begin="0s" repeatCount="indefinite" />' +
        '<animate attributeType="CSS" attributeName="opacity" from="0.8" to="0.2" dur="0.5s" begin="0s" repeatCount="indefinite" />' +
        "</circle>" +
        '<circle cx="30" cy="30" r="10" fill="rgba(0,0,0,0.8)">' +
        "</circle>" +
        "</svg>",

      zoom: 3,
      minZoom: 2,
      center: [-98.8449, 19.6869],
      rotation: 0,
      geolocPosition: undefined,
      selectedFeatures: [],

      mapPanel: {
        tab: "risk"
      },

      features: [
        {
          type: "Feature",
          id: 1,
          geometry: {
            type: "Point",
            coordinates: [-10, -10]
          }
        },
        {
          type: "Feature",
          id: 2,
          geometry: {
            type: "Point",
            coordinates: [10, 10]
          }
        },
        {
          type: "Feature",
          id: 3,
          geometry: {
            type: "Point",
            coordinates: [0, 0]
          }
        }
      ],

      layers: [
        {
          id: "countries",
          title: "Countries",
          cmp: "vl-layer-vector",
          visible: false,
          source: {
            cmp: "vl-source-vector",
            wrapX: false,
            url:
              "https://openlayers.org/en/latest/examples/data/geojson/countries.geojson"
          },
          style: [
            {
              cmp: "vl-style-box",
              styles: {
                "vl-style-fill": {
                  color: this.getColor()
                },
                "vl-style-stroke": {
                  color: [101, 95, 90, 1],
                  width: 0.5
                }
              }
            }
          ]
        }
      ]
    };
  },
  props: [],
  methods: {
    onMapMounted() {
      console.log(new FullScreen());
      this.$refs.map.$map.getControls().extend([
        new ScaleLine(),
        new FullScreen(),
        /*new OverviewMap({
          collapsed: false,
          collapsible: true
        }),*/
        new ZoomSlider()
      ]);
    },

    // need to change later, according different risk shows different color.
    getColor() {
      return [0, 255, 0, 0.2];
    },
    // map panal stuff, check which botton is chosen, and active it
    mapPanelTabClasses(tab) {
      return {
        "is-active": this.mapPanel.tab === tab
      };
    },
    showMapPanelTab(tab) {
      this.mapPanel.tab = tab;
    }
  }
};
</script>

<style lang="scss" scoped>
.heatmap {
  .map {
    width: 100%;
    height: 100%;
  }
  .map-panel {
    width: 40%;
  }
}
</style>
