<template>
    <div>
        <p>{{ Pemail }}</p>
        <p>{{ Ppassword }}</p>

        <div class="hero is-fullheight is-info is-bold">
        <div class="hero-body">
        <div class="container">

        <h1 class="title has-text-centered">LOG IN</h1>
        <div class="box">

        <!-- our signup form ===================== -->
        <form id="signup-form" @submit.prevent="processForm">
        <!-- email -->
        <div class="field">
        <label class="label">Email</label>
        <input v-model="Pemail" type="text" class="input" name="email">
        </div>

        <!-- Password -->
        <div class="field">
        <label class="label">Password</label>
        <input v-model="Ppassword" type="Password" class="input" name="Password">
        </div>

        <!-- submit button -->
        <div class="field has-text-right">
        <button type="submit" class="button is-danger">Submit</button>
        </div>
    </form>

    </div>
    </div>
    </div>
    </div>

</div>  
</template>

<script>
import axios from 'axios'

export default {

    data () {
    return {
      Pemail: null,
      Ppassword: null
    }
  },

    methods: {
        processForm: function(event){
            axios.post('https://api.staging.sustainabill.io/api/edge/api-token-auth/', {
            email: this.Pemail,
            password: this.Ppassword
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    }
}
</script>

<style>

</style>
