<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/WorkHappinessIndexChart">Chart</router-link> |
      <router-link to="/LeafletMapData">LeafletMapData</router-link> |
      <router-link to="/VueLayerData">VueLayerData</router-link> |
      <router-link to="/newMap">newMap</router-link> 
    </div>
    <router-view />
  </div>
</template>

<style>

</style>
